  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .cover-photo{
    background: rgb(43, 42, 42);
    height: 150px;
    width: 50%;
    border-radius: 5px 5px 0 0;
   margin-left: 265px;
   position: relative;
  }

  .profile {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 93px 0 0 -390px;
    border: 1px solid rgb(43, 42, 42);
    padding: 7px;
    object-fit: cover;
    background: rgb(123, 118, 118);
  }
 
  .edit-button {
    position: absolute;
    
    transform: translate(640%, -120%);
    background-color:rgb(123, 118, 118); 
    color: rgb(43, 42, 42);
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
   
}

.edit-button .bi-camera {
    font-size: 14px; 
}
  .profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: 12px 160px 0 0;
  }
  .profile-role{
    font-size: 15px;
    margin: 1px 190px 0 0;
  }
  
  .profile-item {
    margin-bottom: 25px;
    color: #555;
    list-style-type: none;
    width: 50%;
    margin-left: 270px;
   
  }

  .profile-itemm {
    margin-bottom: 25px;
    color: #555;
    list-style-type: none;
    width: 50%;
    margin-left: 250px;
   
  }


  .profile-item-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .profile-item-wrapper i {
    margin-right: 10px;
  }

  .profile-item-wrapperr {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .profile-item-wrapperr i {
    margin-right: 10px;
  }
  .details{
    margin-left: -233px;
    margin-top: 120px;
    font-size: 25px;
    font-weight: bold;
    
  }

  .detailss{
    margin-left: -520px;
    margin-top: 60px;
    font-size: 25px;
    font-weight: bold;
    
  }
  .b{
    width: 200px;
    height: 35px;
    margin-left: 300px;
    border-radius: 4px;
    margin-bottom: 3.5px;
    border: none;
  
  }
  
  .b:hover{
    background-color: #626362;
  }
 .buttonn{
  width: 200px;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 3.5px;
  height: 35px;
  border-radius: 4px;
  background-color: rgba(239, 160, 160, 0.7); 
  border:none;
}

.buttonn:hover{
  background-color: #efa0a0;
}


.buttoni{
  width: 200px;
  height: 35px;
  margin-left: 10px;
  border-radius: 4px;
  margin-bottom: 3.5px;
  border: none;

}

.buttoni:hover{
  background-color: #0b0c0b;
}
.butonat{
  margin-left: 100px;
}



