  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .cover-photo{
    background: rgb(43, 42, 42);
    height: 150px;
    width: 50%;
    border-radius: 5px 5px 0 0;
   margin-left: 265px;
  }
  .profile{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 93px 0 0 -390px;
    border: 1px solid rgb(43, 42, 42);
    padding: 7px;
    background: rgb(123, 118, 118);
  }
  .profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: 12px 160px 0 0;
  }
  .profile-role{
    font-size: 15px;
    margin: 1px 180px 0 0;
  }
  
  .profile-item {
    margin-bottom: 25px;
    color: #555;
    list-style-type: none;
    width: 50%;
    margin-left: 240px;
    margin-top: 40px;
  }

  .profile-item-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .profile-item-wrapper i {
    margin-right: 10px;
  }
  .details{
    margin: 55px 555px 0 0;
    font-size: 20px;
    font-weight: bold;
  }
  