.container-2 {
    display: flex;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 120px;
}

.image-container {
    background-color: #eef2f7;
    padding: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 300px;
    height: auto;
}

.form-container1 {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-container1 h2 {
    margin-bottom: 20px;
}

.form-container1 input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container1 .error-message {
    color: red;
    margin-bottom: 20px;
}

.form-container1 button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container1 a {
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

.form-container1 a:hover {
    text-decoration: underline;
}