.ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.formm {
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    margin-left: 40px;
}

.titlee {
    margin-bottom: 10px;
    color: #333;
    font-size: 24px;
}

.subtitlee {
    margin-bottom: 20px;
    color: #777;
    font-size: 14px;
}

.labell {
    display: block;
    margin-bottom: 10px;
    color: #555;
    text-align: left;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.img-container {
    padding: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 500px;
    height: auto;

}